# Don't track content of the directories containing input files.
acreage_data/
visitation_data/

# Don't track html files.
*.html

# Don't track .xlsx output files.
*.xlsx

# Don't track this stuff either.
.DS_Store
